numpy
pandas
matplotlib
yfinance
pywavelets
torch
torchvision
torchaudio
tensorflow==2.18.0
protobuf==3.20.3
stable-baselines3[extra]>=2.0.0
gymnasium>=0.29
shimmy>=2.0.0
gym-anytrading
transformers
numba==0.60.0
requests
